* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 20px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.heromain {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.32)), to(rgba(0, 0, 0, 0.32))), url(img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url(img/hero.jpg);
  background-size: cover;
  background-position: center center;
}

.heromain .heroflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heromain .mobilebank {
  max-height: 75vh;
  width: 55%;
  min-width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 10.1rem;
  top: 6rem;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.heromain .mobilebank2 {
  max-height: 75vh;
  width: 55%;
  min-width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 3rem;
  top: 8.5rem;
  z-index: 1;
  -webkit-animation-delay: 0.309s;
          animation-delay: 0.309s;
}

.heromain .herotextbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 14%;
  color: white;
  text-shadow: 0 0 10px black;
}

.heromain .herotextbox h1 {
  font-weight: 700;
  font-size: 3.2rem;
}

.heromain .herotextbox h2 {
  font-weight: 600;
  width: 75% !important;
}

.heromain .herotextbox p {
  font-weight: 400;
}

.heromain .herotextbox h1, .heromain .herotextbox h2, .heromain .herotextbox p {
  width: 65%;
  min-width: 25rem;
  text-align: left;
}

.heromain .herotextbox .flexbuttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.heromain .herotextbox .buttons {
  background-color: #53b17a;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  padding: 8px 24px 8px 24px;
  text-shadow: none;
}

.heromain .herotextbox .btn-1:hover,
.heromain .herotextbox .btn-1:active,
.heromain .herotextbox .btn-2:hover,
.heromain .herotextbox .btn-2:active {
  background-color: #e0e0e0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.heromain .herotextbox .btn-2 {
  margin-left: 20px;
}

.content1 {
  width: 100%;
  padding: 5vw;
}

.content1 .content1flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content1 .content1flex .flexchild {
  width: 12rem;
}

.content1 .content1flex h3 {
  font-size: 24px;
  font-weight: 500;
}

.content1 .content1flex p {
  font-size: 16px;
  font-weight: 400;
}

.content1 .icons {
  width: 5rem;
  margin-bottom: 12px;
}

.content1 .flexchild1 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.content1 .flexchild2 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.content1 .flexchild3 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.content1 .flexchild4 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.content2 {
  width: 100%;
  padding: 5vw;
}

.content2 .content2description {
  width: 45%;
  background-color: #ceecd7;
  padding: 20px;
}

.content2 h2 {
  font-size: 2rem;
  font-weight: 600;
}

.content2 ul li {
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  border-bottom: 1px solid black;
  width: 25%;
}

.content2 p {
  font-size: 16px;
  font-weight: 400;
}

.content2 .content2flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content2 .creditcard {
  width: 38%;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 25rem;
}

.graph1 {
  width: 100%;
  padding: 5vw;
}

.graph1 .graphflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.graph1 table {
  width: 90%;
}

.graph1 .thead {
  background-color: #53b17a;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.graph1 td {
  font-weight: 500;
  text-align: center;
}

.graph1 th {
  font-size: 16px;
  font-weight: 500;
}

.graph1 .check1 {
  width: 5%;
  min-width: 2rem;
}

.graph1 .bggray {
  background-color: #e0e0e0;
}

@media screen and (max-width: 576px) {
  footer {
    display: none;
  }
  .graph1 {
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  .heroflex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .herotextbox h1, .herotextbox h2, .herotextbox p {
    width: 100% !important;
    text-align: left !important;
    min-width: unset !important;
    position: relative;
    top: -5vw;
  }
  .herotextbox h1 {
    font-size: 18vw !important;
  }
  .herotextbox h2 {
    font-size: 11vw !important;
  }
  .mobilebank {
    display: none;
  }
  .content2flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content2description {
    width: 100% !important;
  }
  .content2description ul li {
    width: 55%;
  }
  .creditcard {
    min-width: unset !important;
  }
  .content1 {
    padding: 3rem 0 0 0;
  }
  .content1flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content1flex .flexchild {
    margin-bottom: 2rem;
    width: 90% !important;
    text-align: center;
  }
  .content1flex h3 {
    font-weight: 700 !important;
  }
  .content1flex p {
    font-weight: 500 !important;
  }
}

.navbar {
  background-color: #242424 !important;
  max-height: 3rem;
}

.navbar-nav {
  margin-left: 20%;
}

.nav-link {
  font-size: 18px !important;
  font-weight: 400;
  margin-left: 1rem;
}

.logo-main {
  width: 100%;
  padding: 0 !important;
}
/*# sourceMappingURL=style.css.map */