* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 20px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

.heromain {
  width: 100%;
  background-image: url(img/Depositphotos_3477954_xl-2015.jpg);
  background-size: cover;
}

.heromain .heroflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.heromain .mobilebank {
  max-height: 75vh;
  width: 55%;
  min-width: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  right: 12.5%;
  top: 4vw;
}

.heromain .herotextbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 13%;
  color: white;
}

.heromain .herotextbox h1 {
  font-weight: 700;
}

.heromain .herotextbox h2 {
  font-weight: 500;
  width: 75% !important;
}

.heromain .herotextbox p {
  font-weight: 400;
}

.heromain .herotextbox h1, .heromain .herotextbox h2, .heromain .herotextbox p {
  width: 65%;
  min-width: 25rem;
  text-align: left;
}

.content1 {
  width: 100%;
  padding: 5vw;
}

.content1 .content1flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content1 .content1flex .flexchild {
  width: 12rem;
}

.content1 .content1flex h3 {
  font-size: 24px;
  font-weight: 500;
}

.content1 .content1flex p {
  font-size: 16px;
  font-weight: 400;
}

.content1 .icons {
  width: 5rem;
  margin-bottom: 12px;
}

.content1 .flexchild1 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.content1 .flexchild2 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.content1 .flexchild3 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.content1 .flexchild4 {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

@media screen and (max-width: 576px) {
  .herotextbox h1, .herotextbox h2, .herotextbox p {
    width: 100% !important;
    text-align: left !important;
  }
  .content1 {
    padding: 3rem 0 0 0;
  }
  .content1flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content1flex .flexchild {
    margin-bottom: 2rem;
  }
}

.navbar {
  max-height: 51px;
}

.nav-link {
  font-size: 16px !important;
}
/*# sourceMappingURL=style.css.map */