* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 20px;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.heromain {
    width: 100%;
    background-image: url(img/Depositphotos_3477954_xl-2015.jpg);
    background-size: cover;
    .heroflex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .mobilebank {
        max-height: 75vh;
        width: 55%;
        min-width: 15rem;
        object-fit: cover;
        position: relative;
        right: 12.5%;
        top: 4vw;
    }
    
    .herotextbox {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    padding: 13%;
    color: white;
    h1 {
        font-weight: 700;
    }
    h2 {
        font-weight: 500;
        width: 75% !important;
    }
    p {
        font-weight: 400;
    }
    h1, h2, p {
        width: 65%;
        min-width: 25rem;
        text-align: left;
    }
    }
}

.content1 {
    width: 100%;
    padding: 5vw;
    .content1flex {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        .flexchild {
            width: 12rem;
        }
        h3 {
            font-size: 24px;
            font-weight: 500;
        }
        p {
            font-size: 16px;
            font-weight: 400;
        }
    }
    .icons {
        width: 5rem;
        margin-bottom: 12px;
    }
    .flexchild1 {
        animation-duration: 0.75s;
        animation-delay: 0.1s;
    }
    .flexchild2 {
        animation-duration: 0.75s;
        animation-delay: 0.25s;
    }
    .flexchild3 {
        animation-duration: 0.75s;
        animation-delay: 0.4s;
    }
    .flexchild4 {
        animation-duration: 0.75s;
        animation-delay: 0.55s;
    }
}

@media screen and (max-width: 576px) {
    .herotextbox {
        h1, h2, p {
            width: 100% !important;
            text-align: left !important;
        }
    }

    .content1 {
        padding: 0;
    }
    .content1flex {
        flex-flow: column nowrap !important;
        align-items: center;
        .flexchild {
            margin-bottom: 2rem;
        }
    }
}

.navbar {
    max-height: 51px;
}

.nav-link {
    font-size: 16px !important;
}